html
    head
        title THE QUIZ APP
        link(rel="stylesheet", href="/r/css/reveal.css")
        link(rel="stylesheet", href="/r/css/theme/black.css")
    body
        div(class="reveal")
            div(class="slides")
                section
                    p Starting with Pug & Reveal.
                    form(action="/start", name="register", method="post")
                        label(for="name")
                            |Name
                        input#name(type="text", name="name", size="50", placeholder="Your Name")
                        br
                        label(for="email")
                            |Email
                        input#email(type="email", name="email", size="50", placeholder="Your email")
                        br
                        input(type="submit", value="Submit")
        script(src="/r/js/reveal.js")
        script.
            Reveal.initialize(
                {
                    display: 'block'
                }
            );