html
    head
        meta(charset="utf-8")
        title Trying Impress Now
        link(rel="stylesheet", href="/css/impress-demo.css")
        link(rel="stylesheet", href="/extras/highlight/styles/tomorrow.css")
    body
        header
            h1 This is where timer should be.
        div(id='impress')
            div#start(class="step slide")
                h1 The start of impress.

            div#slide1(class="step slide")
                h1 First Impress Slide
                h2 and its not looking good.

            div#slide2(class="step slide")
                h1 Second Impress Slide
                h2 and its a bit looking good.

            div#slide2(class="step slide")
                h1 Second Impress Slide
                h2 and its a bit looking good.
                pre
                    code.
                        var init = function () {
                        if (initialized) { return; }
                        execPreInitPlugins();
                        
                        // First we set up the viewport for mobile devices.
                        // For some reason iPad goes nuts when it is not done properly.
                        var meta = $("meta[name='viewport']") || document.createElement("meta");
                        meta.content = "width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no";
                        if (meta.parentNode !== document.head) {
                            meta.name = 'viewport';
                            document.head.appendChild(meta);
                        }


        div#impress-toolbar
        div(class="impress-progressbar")
            div
        div(class="impress-progress")

        div#impress-help

        script(src="/js/impress.js")
        script(src="/extras/highlight/highlight.pack.js")
        script(src="/extras/mermaid/mermaid.min.js")
        script(src="/extras/markdown/markdown.js")
        script(src="/extras/mathjax/MathJax.js")
        script.
            impress().init();
