html
    head
        title LET'S HAVE FUN
        link(rel="stylesheet", href="/css/reveal.css")
        link(rel="stylesheet", href="/css/theme/black.css")
    body
        div(class="reveal")
            div(class="slides")
                section
                    
                    form(action="/evaluate", name="evaluate", method="post")
                
                        each q in quiz
                            section
                                div
                                    p= q
                        section
                            input(type="submit", value="Submit Your Answers")
                        
        script(src="/lib/js/head.min.js")
        script(src="/js/reveal.js")
        script.
            Reveal.initialize({
                controls: true,
                display: 'block',
                dependencies: [
                    // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },

                    // Interpret Markdown in <section> elements
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

                    // Syntax highlight for <code> elements
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

                    // Zoom in and out with Alt+click
                    { src: 'plugin/zoom-js/zoom.js', async: true },

                    // Speaker notes
                    { src: 'plugin/notes/notes.js', async: true },

                    // MathJax
                    { src: 'plugin/math/math.js', async: true }
                ]
            });